@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: .5px;
  color: white;
  margin: 0; }

/*Aplicación general*/
/*Home page - integrantes de la banda en galería de imágenes*/
/*Albums page - contenedores de los álbumes*/
/*Merchandising page*/
.navbar {
  background-color: #00000000;
  padding-top: 1.5vw;
  height: 22vh; }
  .navbar a {
    color: white;
    border-top: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    margin: 10px; }
    .navbar a:hover:not(.no-hover-navbar) {
      color: white;
      border-top: 4px;
      border-style: solid;
      border-color: #ff0404;
      transition: .9s; }
  .navbar .container-fluid {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .navbar .container-fluid ul {
      justify-content: center;
      width: 487px;
      height: 69px; }
    .navbar .container-fluid .navbar-collapse {
      justify-content: center; }
    .navbar .container-fluid .navbar-izquierda a img {
      width: 20px; }
    .navbar .container-fluid .navbar-centro img {
      width: 350px; }
    .navbar .container-fluid .active {
      color: red !important;
      font-weight: bold; }
    .navbar .container-fluid .boton-hamburguesa .navbar-toggler {
      background-color: #000000;
      border-color: rgba(255, 255, 255, 0.85); }
      .navbar .container-fluid .boton-hamburguesa .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.footer-container {
  height: max-content;
  margin-top: 30px;
  padding: 10px;
  background: linear-gradient(to top, #00000044, #000000), url(../assets/img/album-cover/banner.jpg);
  background-repeat: none;
  background-position: top;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .footer-container .logo-slipknot-footer {
    width: 40px;
    margin-bottom: 10px; }
  .footer-container h2 {
    font-size: large;
    text-transform: uppercase; }
  .footer-container .redes-sociales-footer ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
    .footer-container .redes-sociales-footer ul li {
      list-style-type: none; }
      .footer-container .redes-sociales-footer ul li a {
        margin: 10px; }
        .footer-container .redes-sociales-footer ul li a img {
          width: 20px; }
  .footer-container .volver-inicio {
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: white; }
    .footer-container .volver-inicio:hover {
      color: red;
      letter-spacing: 1px;
      transition: .5s; }

.footer-home-page {
  margin: auto; }

body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.963), rgba(0, 0, 0, 0.847)), url(../assets/img/fuego-rojo-background.jpg);
  background-size: contain; }

.video-box {
  width: 100%;
  height: 78vh;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .video-box video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
  .video-box .estrella-nueve-puntas {
    animation: rotacionInfinita 25s linear infinite;
    width: 36.45vw;
    opacity: 10%;
    margin-bottom: 80px; }

@keyframes rotacionInfinita {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

.home-main-container {
  background-color: black;
  width: 100%;
  min-height: 77vh;
  min-width: 95vw;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .home-main-container .miembros-slipknot {
    margin-top: 30px;
    display: flex;
    width: 80vw;
    height: 60vh; }
    .home-main-container .miembros-slipknot img {
      width: 0;
      flex-grow: 1;
      object-fit: cover;
      opacity: .8;
      transition: .5s ease; }
      .home-main-container .miembros-slipknot img:hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%); }
  .home-main-container .info-banda {
    width: 65vw; }
    .home-main-container .info-banda #logo-slipknot-info {
      margin-top: 30px;
      width: 400px; }
    .home-main-container .info-banda h1 {
      margin-top: 90px;
      font-size: 35px;
      text-transform: uppercase; }
    .home-main-container .info-banda .resumen-banda {
      text-align: justify;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.712)), url(../assets/img/9-point-star-half.png);
      background-position: right;
      background-size: 22vw;
      background-repeat: no-repeat; }
  .home-main-container .info-integrantes {
    margin-bottom: 240px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center; }
    .home-main-container .info-integrantes .galeria-imagenes {
      background-image: linear-gradient(to top, #0000008e, #0000008e), url(../assets/img/band-members-section/cf61081ddbc2c005b875f36b36290141.jpg);
      background-position: center;
      background-size: cover;
      margin-top: 120px;
      margin-bottom: 120px;
      width: 350px;
      height: 350px;
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      justify-content: center; }
      .home-main-container .info-integrantes .galeria-imagenes h2 {
        width: max-content;
        letter-spacing: 20px;
        text-transform: uppercase; }
    .home-main-container .info-integrantes .container-integrantes {
      display: grid;
      margin: 20px;
      grid-template-columns: repeat(6, auto);
      grid-template-rows: repeat(5, auto);
      justify-content: center;
      grid-template-areas: "sid-wilson sid-wilson jay-weimberg jay-weimberg alessandro-venturella alessandro-venturella" "michael-pfaff imagen-banda imagen-banda imagen-banda imagen-banda jim-root" "michael-pfaff imagen-banda imagen-banda imagen-banda imagen-banda jim-root" "craig-jones imagen-banda imagen-banda imagen-banda imagen-banda corey-taylor" "craig-jones shawn-crahan shawn-crahan mick-thomson mick-thomson corey-taylor"; }
      .home-main-container .info-integrantes .container-integrantes .sid-wilson {
        grid-area: sid-wilson;
        background: url(../assets/img/band-members-section/sid-wilson-resumen.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 21.97vw;
        height: 19.62vh; }
        .home-main-container .info-integrantes .container-integrantes .sid-wilson h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .sid-wilson p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .sid-wilson:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/sid-wilson-resumen.jpg);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-size: cover; }
          .home-main-container .info-integrantes .container-integrantes .sid-wilson:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .sid-wilson:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .sid-wilson:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .jay-weimberg {
        grid-area: jay-weimberg;
        background: url(../assets/img/band-members-section/jay-winberg-resumen.webp);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 21.97vw;
        height: 19.62vh; }
        .home-main-container .info-integrantes .container-integrantes .jay-weimberg h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .jay-weimberg p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .jay-weimberg:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/jay-winberg-resumen.webp);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-size: cover; }
          .home-main-container .info-integrantes .container-integrantes .jay-weimberg:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .jay-weimberg:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .jay-weimberg:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .alessandro-venturella {
        grid-area: alessandro-venturella;
        background: url(../assets/img/band-members-section/alessandro-venturella-resumen.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 21.97vw;
        height: 19.62vh; }
        .home-main-container .info-integrantes .container-integrantes .alessandro-venturella h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .alessandro-venturella p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .alessandro-venturella:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/alessandro-venturella-resumen.jpg);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-size: cover; }
          .home-main-container .info-integrantes .container-integrantes .alessandro-venturella:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .alessandro-venturella:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .alessandro-venturella:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .michael-pfaff {
        grid-area: michael-pfaff;
        background: url(../assets/img/band-members-section/michael-pfaff-resumen.jpg);
        display: flex;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        background-position: center;
        justify-content: center;
        width: 11.04vw;
        height: 40.08vh; }
        .home-main-container .info-integrantes .container-integrantes .michael-pfaff h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .michael-pfaff p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .michael-pfaff:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/michael-pfaff-resumen.jpg);
          display: flex;
          align-items: center;
          background-size: cover;
          flex-direction: column;
          justify-content: center; }
          .home-main-container .info-integrantes .container-integrantes .michael-pfaff:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .michael-pfaff:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .michael-pfaff:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .imagen-banda {
        grid-area: imagen-banda;
        background-image: url(../assets/img/band-members-section/imagen-banda-2023.webp);
        width: 44.06vw;
        height: 60.44vh;
        display: flex;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        background-position: center;
        justify-content: center; }
        .home-main-container .info-integrantes .container-integrantes .imagen-banda h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .imagen-banda p {
          display: none; }
      .home-main-container .info-integrantes .container-integrantes .jim-root {
        grid-area: jim-root;
        background: url(../assets/img/band-members-section/jim-root-resumen.jpg);
        display: flex;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        background-position: center;
        justify-content: center;
        width: 11.04vw;
        height: 40.08vh; }
        .home-main-container .info-integrantes .container-integrantes .jim-root h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .jim-root p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .jim-root:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/jim-root-resumen.jpg);
          display: flex;
          align-items: center;
          background-size: cover;
          flex-direction: column;
          justify-content: center; }
          .home-main-container .info-integrantes .container-integrantes .jim-root:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .jim-root:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .jim-root:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .craig-jones {
        grid-area: craig-jones;
        background: url(../assets/img/band-members-section/craig-jones-resumen.jpg);
        display: flex;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        background-position: center;
        justify-content: center;
        width: 11.04vw;
        height: 40.08vh; }
        .home-main-container .info-integrantes .container-integrantes .craig-jones h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .craig-jones p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .craig-jones:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/craig-jones-resumen.jpg);
          display: flex;
          align-items: center;
          background-size: cover;
          flex-direction: column;
          justify-content: center; }
          .home-main-container .info-integrantes .container-integrantes .craig-jones:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .craig-jones:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .craig-jones:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .shawn-crahan {
        grid-area: shawn-crahan;
        background: url(../assets/img/band-members-section/shawn-crahan-resumen.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 21.97vw;
        height: 19.62vh; }
        .home-main-container .info-integrantes .container-integrantes .shawn-crahan h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .shawn-crahan p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .shawn-crahan:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/shawn-crahan-resumen.jpg);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-size: cover; }
          .home-main-container .info-integrantes .container-integrantes .shawn-crahan:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .shawn-crahan:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .shawn-crahan:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .mick-thomson {
        grid-area: mick-thomson;
        background: url(../assets/img/band-members-section/mick-thomson-resumen.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        width: 21.97vw;
        height: 19.62vh; }
        .home-main-container .info-integrantes .container-integrantes .mick-thomson h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .mick-thomson p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .mick-thomson:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/mick-thomson-resumen.jpg);
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          background-size: cover; }
          .home-main-container .info-integrantes .container-integrantes .mick-thomson:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .mick-thomson:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .mick-thomson:hover .numero-integrante {
            font-size: xx-large; }
      .home-main-container .info-integrantes .container-integrantes .corey-taylor {
        grid-area: corey-taylor;
        background: url(../assets/img/band-members-section/corey-taylor-resumen.jpg);
        display: flex;
        align-items: center;
        background-size: cover;
        flex-direction: column;
        background-position: center;
        justify-content: center;
        width: 11.04vw;
        height: 40.08vh; }
        .home-main-container .info-integrantes .container-integrantes .corey-taylor h3 {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .corey-taylor p {
          display: none; }
        .home-main-container .info-integrantes .container-integrantes .corey-taylor:hover {
          background: linear-gradient(to bottom, #000000b7, #00000071), url(../assets/img/band-members-section/corey-taylor-resumen.jpg);
          display: flex;
          align-items: center;
          background-size: cover;
          flex-direction: column;
          justify-content: center; }
          .home-main-container .info-integrantes .container-integrantes .corey-taylor:hover h3 {
            display: block;
            text-transform: uppercase;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .corey-taylor:hover p {
            text-transform: uppercase;
            display: block;
            letter-spacing: 2px;
            font-size: 25px; }
          .home-main-container .info-integrantes .container-integrantes .corey-taylor:hover .numero-integrante {
            font-size: xx-large; }

.faq-main {
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .faq-main h1 {
    margin-top: 30px;
    font-size: 35px;
    text-transform: uppercase; }
  .faq-main .accordion {
    margin-top: 30px;
    text-transform: uppercase;
    width: 60vw;
    --bs-accordion-bg: #242020;
    --bs-accordion-color: white;
    --bs-accordion-btn-color: white;
    --bs-accordion-border-radius: 0px;
    --bs-accordion-inner-border-radius:0px;
    --bs-accordion-border-color: #d22329;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: #d22329;
    --bs-accordion-active-color: white; }
    .faq-main .accordion button {
      text-transform: uppercase;
      font-weight: 1vw;
      letter-spacing: 5px; }
    .faq-main .accordion .accordion-item h2 {
      font-size: 25px; }
    .faq-main .accordion .accordion-item .accordion-collapse ul {
      text-align: left; }
      .faq-main .accordion .accordion-item .accordion-collapse ul li {
        list-style-type: square;
        background-repeat: no-repeat;
        font-size: 26px;
        text-transform: none;
        font-weight: lighter; }

.album-page h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 10px; }

.album-page .album-container {
  height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.5vh;
  background: url(../assets/img/album-cover/fila-3-columna-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .album-page .album-container .cover-album {
    width: 390px;
    border: 1px solid white; }
  .album-page .album-container .slipknot-album .carousel {
    display: none; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner {
      width: 390px;
      height: 390px; }
      .album-page .album-container .slipknot-album .carousel .carousel-inner img {
        width: 390px; }
      .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-item {
        width: 390px;
        height: 390px; }
      .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-details {
        display: flex !important;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: radial-gradient(#250030da, #000000ef), url(/assets/img/9-point-star.png);
        background-size: cover;
        width: 390px;
        height: 390px; }
        .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-details h5 {
          font-weight: lighter;
          text-transform: uppercase; }
        .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-details p {
          font-weight: lighter; }
  .album-page .album-container .slipknot-album .carousel-control-prev {
    top: auto;
    padding-bottom: 9px; }
  .album-page .album-container .slipknot-album .carousel-control-next {
    top: auto;
    padding-bottom: 9px; }
  .album-page .album-container .album-details-1 {
    background: radial-gradient(#88000088, #000000d0), url(../assets/img/album-cover/album-details-background/slipknot-firs-album-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-1 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-1 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-2 {
    background: radial-gradient(#00028871, #000000), url(../assets/img/album-cover/album-details-background/slipknot-iowa-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-2 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-2 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-3 {
    background: radial-gradient(#9900006c, #250000), url(../assets/img/album-cover/album-details-background/subliminal-verses-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-3 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-3 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-4 {
    background: radial-gradient(#363300bb, #250000), url(../assets/img/album-cover/album-details-background/slipknot-all-hope-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-4 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-4 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-5 {
    background: radial-gradient(#141414d2, #000000da), url(../assets/img/album-cover/album-details-background/grey-chapter-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-5 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-5 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-6 {
    background: radial-gradient(#4c0063b9, #000000), url(../assets/img/album-cover/album-details-background/we-are-not-yor-kind-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-6 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-6 p {
      font-weight: lighter; }
  .album-page .album-container .album-details-7 {
    background: radial-gradient(#580000bd, #000000), url(../assets/img/album-cover/album-details-background/the-end-so-far-details.jpg);
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center; }
    .album-page .album-container .album-details-7 h5 {
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .album-details-7 p {
      font-weight: lighter; }
  .album-page .album-container .spotify-playlist {
    width: 35%;
    height: 390px; }

.main-shows {
  margin-top: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .main-shows h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 10px; }
  .main-shows .show-container {
    padding-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.836); }
  .main-shows ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
    .main-shows ul li {
      color: white;
      font-weight: bold;
      font-size: larger;
      text-decoration: none;
      list-style-type: none;
      display: inline;
      margin: 0 60px; }
      .main-shows ul li a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        list-style-type: none; }
        .main-shows ul li a:hover {
          color: red; }
      .main-shows ul li img {
        width: 20px;
        margin-right: 10px; }
  .main-shows .show-options {
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .main-shows .show-options h2 {
      font-size: 32px; }
      .main-shows .show-options h2:hover {
        color: red; }
    .main-shows .show-options .option-show {
      width: 400px;
      height: 255.2px;
      display: flex;
      margin-right: 15px;
      align-items: center;
      border: 1px solid red;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.493); }
      .main-shows .show-options .option-show a {
        color: white;
        text-decoration: none; }
        .main-shows .show-options .option-show a:hover {
          color: red; }
      .main-shows .show-options .option-show p {
        color: white;
        text-align: center; }
      .main-shows .show-options .option-show a img {
        width: 20px;
        margin-right: 10px; }
      .main-shows .show-options .option-show img {
        width: 398px;
        height: auto; }

.main-merch {
  margin-top: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center; }
  .main-merch h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px; }
  .main-merch .banner-remeras {
    background: radial-gradient(circle at 0% 50%, #4a005ccb, #000000d5, #000000), url(../assets/img/merch/banner-merch-page-remeras.jpg);
    border-bottom: .5px solid white;
    border-top: .5px solid white;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 54.36vh;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center; }
    .main-merch .banner-remeras h2 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 57.6px;
      letter-spacing: 40px; }
  .main-merch .banner-buzos {
    background: radial-gradient(circle at 0% 50%, #4a005ccb, #000000d5, #000000), url(../assets/img/merch/banner-merch-page-buzos.jpg);
    border-bottom: .5px solid white;
    border-top: .5px solid white;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 54.36vh;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center; }
    .main-merch .banner-buzos h2 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 57.6px;
      letter-spacing: 40px; }
  .main-merch .banner-otros-productos {
    background: radial-gradient(circle at 0% 50%, #4a005ccb, #000000d5, #000000), url(../assets/img/merch/banner-merch-page-otros.jpg);
    border-bottom: .5px solid white;
    border-top: .5px solid white;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 54.36vh;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center; }
    .main-merch .banner-otros-productos h2 {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 57.6px;
      letter-spacing: 40px; }
  .main-merch .merch-container {
    width: 90vw;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
    .main-merch .merch-container .card {
      margin: 20px 10px;
      width: 15rem;
      text-align: center;
      --bs-card-border-radius: 0px;
      --bs-card-inner-border-radius: 0px; }
      .main-merch .merch-container .card .img-merch-item .img-hover {
        display: none; }
      .main-merch .merch-container .card .img-merch-item:hover {
        background-color: rgba(128, 128, 128, 0.188); }
        .main-merch .merch-container .card .img-merch-item:hover .img-front {
          display: none; }
        .main-merch .merch-container .card .img-merch-item:hover .img-hover {
          display: block; }
      .main-merch .merch-container .card h5 {
        font-weight: lighter;
        height: 80px;
        font-size: 22px;
        text-transform: uppercase; }
      .main-merch .merch-container .card p {
        font-weight: lighter;
        margin-bottom: 6px;
        color: gray; }
      .main-merch .merch-container .card ul li {
        padding: 5px;
        font-weight: lighter;
        background-color: #130303;
        list-style-type: none; }
      .main-merch .merch-container .card ul .comprar {
        text-transform: uppercase;
        color: red; }
        .main-merch .merch-container .card ul .comprar:hover {
          color: white;
          background-color: red;
          letter-spacing: 3px;
          transition: .5s; }
      .main-merch .merch-container .card .card-body {
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center; }
      .main-merch .merch-container .card button {
        text-transform: uppercase;
        color: white;
        background-color: #d22329; }
        .main-merch .merch-container .card button:hover {
          color: yellow;
          background-color: black;
          border-color: yellow;
          border-style: solid;
          letter-spacing: 2px;
          transition: .5s; }

@media only screen and (max-width: 1390px) {
  .navbar {
    height: 33vh;
    padding: 0;
    margin: 0; }
    .navbar .container-fluid {
      height: auto;
      margin: 0;
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      justify-content: center; }
      .navbar .container-fluid ul {
        width: auto;
        height: auto; }
      .navbar .container-fluid .navbar-centro img {
        width: 280px; }
      .navbar .container-fluid .navbar-derecha ul li {
        margin: 0 20px; } }

@media only screen and (max-width: 990px) {
  .navbar {
    height: auto; }
    .navbar .container-fluid {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      flex-direction: row;
      align-content: center;
      justify-content: center; }
      .navbar .container-fluid .navbar-izquierda {
        display: none; }
      .navbar .container-fluid .navbar-centro {
        align-items: center; }
        .navbar .container-fluid .navbar-centro img {
          margin-top: 30px;
          margin-bottom: 30px; } }

@media only screen and (max-width: 376px) {
  .navbar .container-fluid .navbar-centro img {
    width: 190px; } }

@media only screen and (max-width: 1390px) {
  .video-box {
    height: 67vh; } }

@media only screen and (max-width: 1002px) {
  .home-main-container .info-integrantes {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .video-box .estrella-nueve-puntas {
    width: 55vw; } }

@media only screen and (max-width: 768px) {
  .video-box .estrella-nueve-puntas {
    width: 60vw; } }

@media only screen and (max-width: 550px) {
  .video-box {
    display: none; }
  .home-main-container .miembros-slipknot {
    width: 100vw; }
    .home-main-container .miembros-slipknot img:hover {
      width: 150px; }
  .home-main-container .info-banda #logo-slipknot-info {
    margin-top: 90px;
    width: 300px; } }

@media only screen and (max-width: 375px) {
  .home-main-container .info-banda #logo-slipknot-info {
    margin-top: 90px;
    width: 250px; } }

@media only screen and (max-width: 1340px) {
  .main-shows .show-container .show-options {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center; }
    .main-shows .show-container .show-options .option-show {
      margin: 10px 0; } }

@media only screen and (max-width: 1600px) {
  .faq-main .accordion {
    width: 80vw; } }

@media only screen and (max-width: 1024px) {
  .faq-main .accordion {
    width: 85vw; } }

@media only screen and (max-width: 800px) {
  .faq-main .accordion {
    width: 85vw; }
    .faq-main .accordion .accordion-item h2 {
      font-size: 22px; }
    .faq-main .accordion .accordion-item .accordion-collapse ul li {
      font-size: 22px; } }

@media only screen and (max-width: 425px) {
  .faq-main h1 {
    font-size: 29.16667px; }
  .faq-main .accordion {
    width: 100vw; }
    .faq-main .accordion .accordion-item h2 {
      font-size: 20px; } }

@media only screen and (max-width: 390px) {
  .main-merch .merch-container .card {
    width: 300px; } }

@media only screen and (max-width: 1259px) {
  .album-page .album-container .slipknot-album .carousel {
    display: flex; }
  .album-page .album-container .details {
    display: none; }
  .album-page .album-container .cover-album {
    display: none; } }

@media only screen and (max-width: 767px) {
  .album-page .album-container .slipknot-album .carousel {
    display: flex; }
  .album-page .album-container .cover-album {
    display: none; }
  .album-page .album-container .spotify-playlist {
    display: none; } }

@media only screen and (max-width: 376px) {
  .album-page .album-container .slipknot-album .carousel .carousel-inner {
    width: 285px;
    height: 285px; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner img {
      width: 285px; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner h5 {
      font-size: 22px;
      font-weight: lighter;
      text-transform: uppercase; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-item {
      width: 285px;
      height: 285px; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner .carousel-details {
      width: 285px;
      height: 285px; }
    .album-page .album-container .slipknot-album .carousel .carousel-inner p {
      font-size: 20px;
      font-weight: lighter; } }
