.album-page {
    h1 {
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-top: $margen-top;
    }
    .album-container-1 {
        .slipknot-album {
            flex-wrap: wrap;
            @include flex-row-center;
            .album-details {
                @include album-details;
                @include flex-column-center;
                a {
                    @include album-details-a;
                    }
                }
                p {
                    @include album-details-p;
                }
                h2 {
                    @include album-details-h2;
                }
            }
        img {
            @include img-album-containers;
        }
        .spotify-playlist {
            @include spotify-iframe;
        }
        @include album-container-1;
        @include flex-column-center;
    }
    .album-container-2 {
        .slipknot-album {
            flex-wrap: wrap;
            @include flex-row-center;
            .album-details {
                @include album-details;
                @include flex-column-center;
                a {
                    @include album-details-a;
                    }
                }
                p {
                    @include album-details-p;
                }
                h2 {
                    @include album-details-h2;
                }
            }
        img {
            @include img-album-containers;
        }
        .spotify-playlist {
            @include spotify-iframe;
        }
        @include album-container-2;
        @include flex-column-center;
    }
    .album-container-3 {
        .slipknot-album {
            flex-wrap: wrap;
            @include flex-row-center;
            .album-details {
                @include album-details;
                @include flex-column-center;
                a {
                    @include album-details-a;
                    }
                }
                p {
                    @include album-details-p;
                }
                h2 {
                    @include album-details-h2;
                }
            }
        img {
            @include img-album-containers;
        }
        .spotify-playlist {
            @include spotify-iframe;
        }
        @include album-container-3;
        @include flex-column-center;
    }
}

