.album-page {
    h1 {
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-top: $margen-top;
        letter-spacing: $h1-letter-spacing;
    }
    .album-container {
        .cover-album {
            width: 390px;
            border: 1px solid white;
        }
        .slipknot-album {
            .carousel {
                display: none;
                .carousel-inner {
                    width: 390px;
                    height: 390px;
                    img {
                        width: 390px;
                    }
                    .carousel-item{
                        width: 390px;
                        height: 390px;
                    }
                    .carousel-details {
                        display: flex !important;
                        flex-wrap: nowrap;
                        align-items: center;
                        align-content: center;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        background: radial-gradient(
                            #250030da,
                            #000000ef),
                            url(../assets/img/9-point-star.png);
                        background-size: cover;
                        width: 390px;
                        height: 390px;
                        h5 {
                            font-weight: lighter;
                            text-transform: uppercase;
                        }
                        p {
                            font-weight: lighter;
                        }
                    }
                }
            }
            .carousel-control-prev {
                top: auto;
                padding-bottom: 9px;
            }
            .carousel-control-next {
                top: auto;
                padding-bottom: 9px;
            }
        }
        .album-details-1 {
            background: radial-gradient(
                #88000088,
                #000000d0),
                url(../assets/img/album-cover/album-details-background/slipknot-firs-album-details.jpg);
            @include album-details-gral;
        }
        .album-details-2 {
            background: radial-gradient(
                #00028871,
                #000000),
                url(../assets/img/album-cover/album-details-background/slipknot-iowa-details.jpg);
            @include album-details-gral;
        } 
        .album-details-3 {
            background: radial-gradient(
                #9900006c,
                #250000),
                url(../assets/img/album-cover/album-details-background/subliminal-verses-details.jpg);
            @include album-details-gral;
        } 
        .album-details-4 {
            background: radial-gradient(
                #363300bb,
                #250000),
                url(../assets/img/album-cover/album-details-background/slipknot-all-hope-details.jpg);
            @include album-details-gral;
        }
        .album-details-5 {
            background: radial-gradient(
                #141414d2,
                #000000da),
                url(../assets/img/album-cover/album-details-background/grey-chapter-details.jpg);
            @include album-details-gral;
        } 
        .album-details-6 {
            background: radial-gradient(
                #4c0063b9,
                #000000),
                url(../assets/img/album-cover/album-details-background/we-are-not-yor-kind-details.jpg);
            @include album-details-gral;
        }
        .album-details-7 {
            background: radial-gradient(
                #580000bd,
                #000000),
                url(../assets/img/album-cover/album-details-background/the-end-so-far-details.jpg);
            @include album-details-gral;
        }           
        .spotify-playlist {
            width: 35%;
            height: 390px;
        }
        @include album-container;
    }
}