body {
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.877), 
        rgba(0, 0, 0, 0.596)), 
        url(../assets/img/fuego-rojo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}