.faq-main {
    width: 100vw;
    h1 {
        margin-top: $margen-top;
        font-size: $h1-font-size;
        text-transform: uppercase;
    }
    .accordion {
        margin-top: $margen-top;
        text-transform: uppercase;
        width: 60vw;
        --bs-accordion-bg: #242020;
        --bs-accordion-color: white;
        --bs-accordion-btn-color: white;
        --bs-accordion-border-radius: 0px;
        --bs-accordion-inner-border-radius:0px;
        --bs-accordion-border-color: #d22329;
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-active-bg: #d22329;
        --bs-accordion-active-color: white;
        button{
            text-transform: uppercase;
            font-weight: 1vw;
            letter-spacing: 5px;
        }
        .accordion-item {
            h2 {
                font-size: 25px;
            }
            .accordion-collapse {
                ul {
                    text-align: left;
                    li {
                        list-style-type: square;
                        background-repeat: no-repeat;
                        font-size: 26px;
                        text-transform: none;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    @include flex-column-center;
}