.footer-container {
    width: 100%;
    height: max-content;
    margin-top: $margen-top;
    padding: 10px;
    background: linear-gradient(to top,
    #00000044,
    #000000),
    url(../assets/img/album-cover/banner.jpg);
    background-repeat: none;
    background-position: top;
    background-size: cover;
    @include flex-column-center;
    .logo-slipknot-footer {
        width: 40px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: large;
        text-transform: uppercase;
    }
    .redes-sociales-footer {
        ul {

            li {
                list-style-type: none;
                a{ 
                    margin: 10px;
                    img {
                        width: 20px;
                    }
                }
            }
            @include flex-row-center;
        }
    }
    .volver-inicio {
        text-transform: uppercase;
        list-style-type: none;
        text-decoration: none;
        color: white;
        &:hover {
            color: red;
            letter-spacing: 1px;
            transition: .5s;
        }
    }
}

.footer-home-page {
    margin: auto;
}