.main-merch {
    margin-top: $margen-top;
    h1 {
        font-size: $h1-font-size;
        text-transform: uppercase;
        letter-spacing: $h1-letter-spacing;
    }
    .banner-remeras {
        background: radial-gradient(circle at 0% 50%,
            #4a005ccb,
            #000000d5,
            #000000),
            url(../assets/img/merch/banner-merch-page-remeras.jpg);
            @include banner-merch-items;
        h2 {
            @include merch-banner-h2 ;
        }
        @include flex-column-center;
    }
    .banner-buzos {
        background: radial-gradient(circle at 0% 50%,
            #4a005ccb,
            #000000d5,
            #000000),
            url(../assets/img/merch/banner-merch-page-buzos.jpg);
            @include banner-merch-items;
        h2 {
            @include merch-banner-h2 ;
        }
        @include flex-column-center;
    }
    .banner-otros-productos {
        background: radial-gradient(circle at 0% 50%,
            #4a005ccb,
            #000000d5,
            #000000),
            url(../assets/img/merch/banner-merch-page-otros.jpg);
            @include banner-merch-items;
        h2 {
            @include merch-banner-h2 ;
        }
        @include flex-column-center;
    }
    .merch-container {
        width: 90vw;
        margin-top: $margen-top;
        .card {
            margin: 20px 10px;
            width: 15rem;
            text-align: center;
            --bs-card-border-radius: 0px;
            --bs-card-inner-border-radius: 0px;
            .img-merch-item {
                .img-hover {
                    display: none;
                }
                &:hover{
                    background-color: rgba(128, 128, 128, 0.188);
                    .img-front {
                        display: none;
                    } 
                    .img-hover {
                        display: block;
                    }
                }
            }
            h5 {
                font-weight: lighter;
                height: 80px;
                font-size: 22px;
                text-transform: uppercase;
            }
            p {
                font-weight: lighter;
                margin-bottom: 6px;
                color: gray;
            }
            ul {
                li {
                    padding: 5px;
                    font-weight: lighter;
                    background-color: #130303;
                    list-style-type: none;
                }
                .comprar {
                    text-transform: uppercase;
                    color: red;
                    &:hover {
                        color: white;
                        background-color: red;
                        letter-spacing: 3px;
                        transition: .5s;
                    }
                }
            }
            .card-body {
                padding: 0;
                @include flex-column-center;
            }
            button {
                text-transform: uppercase;
                color: white;
                background-color: $rojo-slipknot;
                &:hover {
                    color: yellow;
                    background-color: black;
                    border-color: yellow;
                    border-style: solid;
                    letter-spacing: 2px;
                    transition: .5s;
                }
            }
        }
        @include flex-row-center;
    }
    @include flex-column-center;
}