.main-merch {
    margin-top: $margen-top;
    h1 {
        font-size: $h1-font-size;
        text-transform: uppercase;
    }
    .merch-container {
        margin-top: $margen-top;
        .card {
            margin: 0 11px;
            height: 580px;
            text-align: center;
            h5 {
                text-transform: uppercase;
            }
            ul {
                li {
                    height: 40px;
                    background-color: #130303;
                    list-style-type: none;
                }
                .comprar {
                    text-transform: uppercase;
                    color: red;
                    &:hover {
                        color: white;
                        background-color: red;
                        letter-spacing: 3px;
                        transition: .5s;
                    }
                }
            }
        }
        @include flex-row-center;
    }
    @include flex-column-center;
}
