.navbar {
    background-color: #00000000;
    padding-top: 1.5vw;
    height: 22vh;
    a {
        color: white;
        border-top: 4px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        text-transform: uppercase;
        margin: 10px;
        &:hover:not(.no-hover-navbar) {
            color: white;
            border-top: 4px;
            border-style: solid;
            border-color: rgb(255, 4, 4);
            transition: .9s;
        }
    }

    .container-fluid {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        ul {
            justify-content: center;
            width: 487px;
            height: 69px;
        }
        
        .navbar-collapse {
            justify-content: center;
        }
        .navbar-izquierda {
            a{
                img{
                    width: 20px;
                }
            }
        }

        .navbar-centro {
            img {
                width: 350px;
            }
        }

        .active {
            color: rgb(255, 0, 0) !important;
            font-weight: bold;
        }
        .boton-hamburguesa {
            .navbar-toggler {
                background-color: #000000;
                border-color: rgba(255, 255, 255, 0.85);
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                  }
              }
        }
    }
}   