.main-shows {
    width: 99vw;
    @include flex-column-center;
    .proximos-shows-banner {
        margin-top: ($margen-top*2);
        margin-bottom: ($margen-top*2);
        width: 99vw;
        height: 60vh;
        background: radial-gradient(circle at 0% 50%,
            #58008b5d,
            #00000042,
            #00000093),
            url(../assets/img/shows-img/banner-shows-h1.jpg);
        background-size: cover;
        background-position: center;
        h1 {
            margin-top: ($margen-top*3);
            font-size: 55px;
            letter-spacing: $h1-letter-spacing;
            text-transform: uppercase;
            font-weight: lighter;
        }
    }
    .show-container {
        background-color: #000000c0;
        padding: 20px;
        border: 1px solid #4e4e4e;
        margin-top: $margen-top;
        .show {
            .banner-evento {
                width: 50vw;
                border: 1px solid white;
                .banner {
                    width: 100%;
                }
            }
            .evento-banner-descripcion {
                width: 50vw;
                margin-top: $margen-top;
                h2 {
                    text-transform: uppercase;
                    background-color: $rojo-slipknot;
                    border: 1px solid white;
                    
                    font-size: 24px;
                    padding: 5px;
                    letter-spacing: 10px;
                }
                h3 {
                    margin-top: $margen-top;
                    text-transform: uppercase;
                    font-weight: lighter;
                    text-shadow: 0 0 10px rgb(221, 0, 0);
                }
                h4 {
                    margin-top: $margen-top;
                    text-transform: uppercase;
                }
                p {
                    font-weight: lighter;
                    text-align: justify;
                    font-size: 25px;
                }
            }
            @include flex-column-center;
        }
        .entradas-container {
            width: 35vw;
            margin-left: 2.5vw;
            .min-precio {
                height: max-content;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: space-around;
                background-color: $rojo-slipknot;
                h2 {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: lighter;
                }
                .precio {
                    font-weight: bold;
                    font-size: 50px
                }

            }
            .container-fechas {
                background-color: #3f3f3f;
                padding: 15px;
                .detalles-shows {
                    .fecha {
                        p {
                            width: 100px;
                            height: 100px;
                            border: 2px solid white;
                            text-transform: uppercase;
                            font-weight: lighter;
                            border-radius: 4px;
                            padding: 10px;
                            font-size: 20px;
                            .dia {
                                font-size: 37px;
                                font-weight: bold;
                            }
                        }
                    }
                    .horarios-1 {
                        p {
                            line-height: 1.1;
                            width: 100px;
                            height: 100px;
                            border-radius: 4px;
                            padding: 10px;
                            .titulo {
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                color: orange;
                                font-size: 15px;
                            }
                            .horario {
                                font-size: 32px;
                            }
                            .subtitulo {
                                font-weight: lighter;
                                font-size: 18px;
                            }
                        }
                        @include flex-row-center;
                    }
                    .horarios-2 {
                        p {
                            line-height: 1.1;
                            width: 100px;
                            height: 100px;
                            border-radius: 4px;
                            padding: 10px;
                            .horario {
                                font-size: 32px;
                            }
                            .subtitulo {
                                font-weight: lighter;
                                font-size: 18px;
                            }
                        }
                        @include flex-row-center;
                    }
                    @include flex-row-center;
                }
                .btn-comprar-entrada {
                    color: white;
                    width: 130px;
                    height: 60px;
                    border-radius: 60px;
                    border: 2px solid white;
                    text-transform: uppercase;
                    background-color: rgb(128, 128, 128);
                    &:hover {
                        background-color: black;
                        border: 2px solid red;
                    }
                }
                @include flex-row-center;
                justify-content: space-between;
            }
            
            .accordion {
                width: 100%;
                text-transform: uppercase;
                --bs-accordion-bg:  #3f3f3f;
                --bs-accordion-color: white;
                --bs-accordion-btn-color: white;
                --bs-accordion-border-radius: 0px;
                --bs-accordion-active-bg: #d22329;
                --bs-accordion-active-color: white;
                --bs-accordion-inner-border-radius: 0px;
                --bs-accordion-border-color: #d2232900;
                --bs-accordion-btn-focus-box-shadow: none;
                .accordion-button.collapsed::after {
                    background: url("../assets/img/show-icons/square-caret-down-solid.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                  .accordion-button:not(.collapsed)::after {
                    background: url("../assets/img/show-icons/square-caret-down-solid.svg");
                    background-size: contain;
                    background-repeat: no-repeat;  
                }
                .accordion-item {
                    border-top: 1px solid red;
                }
                .accordion-header {
                    button{
                        text-transform: uppercase;
                        font-weight: 1vw;
                        letter-spacing: 5px;
                        img {
                            width: 30px;
                            margin-right: 30px;
                        }
                    }
                }
                .accordion-1 {
                    .accordion-body {
                        img {
                            width: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
                .accordion-2 {
                    .accordion-body {
                        a {
                            text-decoration: none;
                            color: yellow;
                        }
                    }
                }
                .accordion-3 {
                    .accordion-body {
                        img {
                            width: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            &:hover {
                                color: yellow;
                            }
                        }
                        .map-google {
                            overflow:hidden;
                            padding-bottom:56.25%;
                            position:relative;
                            height:0;
                        }
                        .map-google iframe{
                            left:0;
                            top:0;
                            height:100%;
                            width:100%;
                            position:absolute;
                        }
                    }
                }
            }
        }
        @include flex-row-center;
        align-items: flex-start;
    }
    .shows-anteriores-banner {
        margin-top: ($margen-top*2);
        margin-bottom: ($margen-top*2);
        width: 99vw;
        height: 60vh;
        background: radial-gradient(circle at 0% 50%,
            #898b0018,
            #00000042,
            #00000052),
            url(/assets/img/shows-img/banner-shows-pasados.jpg);
        background-size: cover;
        background-position: center;
        h2 {
            margin-top: ($margen-top*3);
            font-size: 55px;
            letter-spacing: $h1-letter-spacing;
            text-transform: uppercase;
            font-weight: lighter;
            text-shadow: 0 2px 15px red;
        }
    }
    .shows-anteriores-poster {
        img {
            margin: 40px;
            width: 21vw;
            border: 1px solid red;
            box-shadow: 0px 0px 15px $rojo-slipknot;
        }
        @include flex-row-center;
    }
}