/*Aplicación general*/
@mixin flex-column-center {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row-center {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/*Home page - integrantes de la banda en galería de imágenes*/
@mixin integrante-horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 21.97vw;
    height: 19.62vh;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

@mixin integrante-horizontal-hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    h3 {
        display: block;
        text-transform: uppercase;
        font-size: 25px;
    }
    p {
        text-transform: uppercase;
        display: block;
        letter-spacing: 2px;
        font-size: 25px;
    }
    .numero-integrante {
        font-size: xx-large;
    }
}

@mixin integrante-vertical {
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    width: 11.04vw;
    height: 40.08vh;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

@mixin integrante-vertical-hover {
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    h3 {
        display: block;
        text-transform: uppercase;
        font-size: 25px;
    }
    p {
        text-transform: uppercase;
        display: block;
        letter-spacing: 2px;
        font-size: 25px;
    }
    .numero-integrante {
        font-size: xx-large;
    }
}

@mixin imagen-banda {
    width: 44.06vw;
    height: 60.44vh;
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

/*Albums page - contenedores de los álbumes*/
@mixin album-container {
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5vh;
    background: url(../assets/img/album-cover/fila-3-columna-1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
} 

@mixin album-details-gral {
    border: 1px solid white;
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center;
    h5 {
        font-weight: lighter;
        text-transform: uppercase;
    }
    p {
        font-weight: lighter;
    }
}

@mixin spotify-iframe {
    width: 600px;
    height: 352px;
}

/*Merchandising page*/
@mixin banner-merch-items {
    border-bottom: .5px solid white;
    border-top: .5px solid white;
    margin-top: $margen-top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 54.36vh;
}

@mixin merch-banner-h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: ($h2-font-size*1.8);
    letter-spacing: 40px;
}