/*Aplicación general*/
@mixin flex-column-center {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row-center {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/*Home page - integrantes de la banda en galería de imágenes*/
@mixin integrante-horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 21.97vw;
    height: 19.62vh;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

@mixin integrante-horizontal-hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    h3 {
        display: block;
        text-transform: uppercase;
        font-size: 25px;
    }
    p {
        text-transform: uppercase;
        display: block;
        letter-spacing: 2px;
        font-size: 25px;
    }
    .numero-integrante {
        font-size: xx-large;
    }
}

@mixin integrante-vertical {
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    width: 11.04vw;
    height: 40.08vh;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

@mixin integrante-vertical-hover {
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    h3 {
        display: block;
        text-transform: uppercase;
        font-size: 25px;
    }
    p {
        text-transform: uppercase;
        display: block;
        letter-spacing: 2px;
        font-size: 25px;
    }
    .numero-integrante {
        font-size: xx-large;
    }
}

@mixin imagen-banda {
    width: 44.06vw;
    height: 60.44vh;
    display: flex;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    h3 {
        display: none;
    }
    p {
        display: none;
    }
}

/*Albums page - contenedores de los álbumes*/
@mixin album-container-1 {
    height: 45vh;
    margin-bottom: 15px;
    background: url(../assets/img/album-cover/background-container-album.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
} 

@mixin album-container-2 {
    height: 45vh;
    margin-bottom: 15px;
    background: url(../assets/img/album-cover/background-container-album.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

@mixin album-container-3 {
    height: 45vh;
    margin-bottom: 15px;
    background: url(../assets/img/album-cover/background-container-album.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
} 

@mixin album-details {
    border: 0px white;
    width: 400px;
    height: 400px;
}

@mixin img-album-containers {
    border: 1px solid white;
    width: 360px;
    height: auto;
}

@mixin spotify-iframe {
    width: 600px;
    height: 400px;
}

@mixin album-details-h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    padding: 10px;;
    margin-bottom: 50px;
}

@mixin album-details-a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    &:hover {
        color: red;
        letter-spacing: 2px;
        transition: .5s;}
}

@mixin album-details-p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}