$rojo-slipknot: #d22329;
$gradient-resumen-1: #000000b7;
$gradient-resumen-2: #00000071; 
$h1-letter-spacing: 10px;
$h1-font-size: 35px;
$h1-font-size-425px: 23px;
$h2-font-size: 32px;
$margen-top: 30px;