@media only screen and (max-width: 1259px) {
    .album-page {
        .album-container {
            .slipknot-album {
                .carousel {
                    display: flex;
                }
            }
            .details {
                display: none;
            }
            .cover-album {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .album-page {
        .album-container {
            .slipknot-album {
                .carousel {
                    display: flex;
                }
            }
            .cover-album {
                display: none;
            }
            .spotify-playlist {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .album-page {
        h1 {
            font-size: $h1-font-size-425px;
        }
    }
}


@media only screen and (max-width: 376px) {
    .album-page {
        .album-container {
            .slipknot-album {
                .carousel {
                    .carousel-inner {
                        width: 285px;
                        height: 285px;
                        img {
                            width: 285px;
                        }
                        h5 {
                            font-size: 22px;
                            font-weight: lighter;
                            text-transform: uppercase;
                        }
                        .carousel-item {
                            width: 285px;
                            height: 285px;
                        }
                        .carousel-details {
                            width: 285px;
                            height: 285px;
                        }
                        p {
                            font-size: 20px;
                            font-weight: lighter;
                        }
                    }
                }
            }   
        }               
    }
}