@media only screen and (max-width: 1390px) {
    .navbar {
        height: 33vh;
        padding: 0;
        margin: 0;
        .container-fluid {
            height: auto;
            margin: 0;
            ul {
                width: auto;
                height: auto;
            }
            .navbar-centro {
                img {
                    width: 280px;
                }
            }
            .navbar-derecha {
                ul {
                    li {
                        margin: 0 20px;
                    }
                }
            }
        @include flex-column-center; ;
        }
    }
}

@media only screen and (max-width: 990px) {
    .navbar {
        height: auto;
        .container-fluid {
            @include flex-row-center;
            .navbar-izquierda {
                display: none;
            }
            .navbar-centro {
                align-items: center;
                img {
                    margin-top: $margen-top;
                    margin-bottom: $margen-top;
                }
            }
        }
    }
}

@media only screen and (max-width: 376px) {
    .navbar {
        .container-fluid {
            .navbar-centro {
                img {
                    width: 190px;
                }
            }
        }
    }
}
