@media only screen and (max-width: 1440px) {
    .home-main-container {
        .info-home-page-container {
            .info-banda {
                width: 85vw;
            }
        }
    }
}

@media only screen and (max-width: 1390px) {
    .video-box {
        height: 67vh;
    }
}

@media only screen and (max-width: 1002px) {
    .home-main-container {
        .info-integrantes {
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .home-main-container {
        .video-box {
            .estrella-nueve-puntas {
                width: 55vw;
            }
        }
        .resumen-banda {
            display: none;
        }
        .info-home-page-container {
            .info-banda {
                #slipknot-resumen-carousel {
                    display: flex;
                    .carousel-inner {
                        .carousel-item {
                            p {
                                font-weight: lighter;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .video-box {
        .estrella-nueve-puntas {
            width: 60vw;
        }
    }
    .home-main-container {
        .info-home-page-container {
            #logo-slipknot-info {
                h1 {
                    font-size: 35px;
                    letter-spacing: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .video-box {
        display: none;
    }
    .home-main-container {
        .miembros-slipknot {
            width: 100vw;
            img {
                &:hover {
                    width: 150px;
                }
            }
        }
        .info-home-page-container {
            .info-banda {
                #logo-slipknot-info {
                    margin-top: ($margen-top*3);
                    width: 300px;
                }
                #slipknot-resumen-carousel {
                    .carousel-inner {
                        .carousel-item {
                            p {
                                font-size: 19.5px;
                                font-weight: lighter;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .home-main-container {
        .info-home-page-container {
            .info-banda {
                #logo-slipknot-info {
                    margin-top: ($margen-top*3);
                    width: 250px;
                }
            }
        }
    }
}